.life-service{
    border-top: 18rpx solid #f6f6f6;
    width: 100%;
    box-sizing: border-box;
    padding: 30rpx;
    display: flex;
    flex-direction: row;
    .item {
        width: 100%;
        height: 179rpx;
        border-radius: 10rpx;
        overflow: hidden;
        position: relative;
        image {
            width: 100%;
            height: 100%;
        }
        .content {
            position: absolute;
            top: 23rpx;
            left: 30rpx;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .title {
                font-weight: bold;
                // margin-bottom: 20rpx;
            }
            .bottom {
                margin-top: 0rpx;
                font-size: 20rpx;
                color: #848484;
            }
        }
    }
    .bottom {
        margin-top: 14rpx;
    }
    .top {
        margin-bottom: 14rpx;
    }
    .left-items {
        flex: 1;
        margin-right: 15rpx;
    }

    .right-items {
        flex: 1;
        margin-left: 15rpx;
    }
}